<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="<%= @description %>">
  <meta name="author" content="Pietro Donatini - Unibo">
  <title><%= @title %></title>

  <%= helpers.csrf_meta_tags %>
  <%= helpers.csp_meta_tag %>
  <%= helpers.stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= helpers.javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

