<div class="mt-3 container alert alert-warning text-center">
  <% if @current_user != @true_user %>
    <div>
      You (<%= @true_user.upn %>) are impersonating <strong><%= @current_user.upn %></strong>
    </div>
    <div>
      <%= button_to @stop_impersonating_path, method: :post, class: "btn btn-link p-0", form: { data: { turbo: false } } do %>
        <%= dm_icon("reply", text: "back to admin") %>
      <% end %>
    </div>
  <% end %>

  <% if @can_impersonate %>
    <%= link_to dm_icon("user", text: "impersona"), @who_impersonate_path %>
  <% end %>
</div>
