<%= main_title("Amministratori") %>  

<% @organizations.each do |organization| %>  
  <h2 class="mt-3"><%= organization %></h2>
  <ul class="list-group my-3">
    <% organization.permissions.each do |p|%>  
      <li class="list-group-item">
        <strong><%= mail_to p.user.upn, p.user.cn_militar %></strong>
        (<%= p.authlevel_string %>)
        <span class="float-right"><%= link_to_delete permission_path(p) %></span>
      </li>
    <% end %>
  </ul>
  <div style="text-align: center">
    <%= link_to_new 'Nuovo utente amministratore', new_organization_permission_path(organization.id) %>  
  </div>
<% end %>

