<h1><%= @organization %></h1>

<%= dm_form_for [@organization, @permission], title: "New permission" do |p| %>  
  <%= p.association :user, collection: @users, label_method: :cn_militar %>  
  <%# <% collection = ::Authorization.all_level_list.map {|x| [::Authorization.level_description(x), x] } %1> %>
  <%= p.input :authlevel, as: :radio_buttons, collection: ::Authorization.all_authlevels.to_a %>  

  <%= p.submit %>  
<% end %>


